body {
  height: 100%;
  width: 100%;
  color: white;
}
.task-page-container {
  max-width: 1000px;
  min-width: 700px;
  height: 100%;
  margin: 0 auto;
  margin-top: 5%;
}
.switch {
  color: white;
  text-shadow: 2px 2px 4px black;
}
.chip-container {
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-weight: bolder !important;
  column-gap: 50px;
  row-gap: 30px;
  align-content: center;
}
.MuiChip-root {
  color: white !important;
  border-color: white !important;
  text-shadow: 2px 2px 4px black;
  border-style: double !important;

  padding-top: 25px !important;
  padding-bottom: 25px !important;
  border-width: 3px !important;
  width: 300px;
}
.input-container {
  border-radius: 10;
  border-width: 3px;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  flex-wrap: wrap;
}
.button-container {
  object-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 400px !important;
  row-gap: 3em;
  align-content: center;
}
.button {
  line-height: 25px;
  margin: 20px;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGwB_6EuyYM7FcnkomMC4HayOnGwOL9kHIRg&usqp=CAU);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: monospace;
  height: 80px !important;
  width: 200px;
  font-size: 30pt;
  font-weight: bolder;
  text-shadow: 3px 3px 4px black;
  border-radius: 9px;
  border-width: 3pt;
}
.site-logo {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  height: 75px;
}
input {
  font-family: monospace;
  font-size: larger;
  height: 50px;
  border-color: aliceblue;
  margin: 6px;
  color: black;
  border-width: 3px !important;
}
.home-container {
  width: 100%;
  height: 100%;
}
.hero-card {
  border-style: solid;
  width: 700px;
  align-items: center;
  text-align: center;
  border-radius: 0%;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  color: black;
  background-color: white;
}
.card-container {
  margin: 0 auto;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1080px;
}

.week-day-card {
  border-style: solid;
  height: 400px;
  width: 350px;
  text-align: center;
  font-size: 20px;
  border-radius: 0%;
  margin: 0 auto;
  margin-top: 18px;
  color: black;
  background-color: white;
  row-gap: 8px;
  column-gap: 8px;
}

.css-46bh2p-MuiCardContent-root {
  padding: 0 !important;
}

.task-name {
  font-size: 20px !important;
}
.done {
  text-decoration: line-through;
}

.card-title {
  text-decoration-line: underline;
  text-decoration-thickness: 6px;
  text-decoration-color: black;
}

.logout-button {
  line-height: 25px;
  margin: 0 auto !important;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGwB_6EuyYM7FcnkomMC4HayOnGwOL9kHIRg&usqp=CAU);
  background-position: center;
  background-size: cover;
  color: white !important;
  font-family: monospace;
  height: 80px !important;
  width: 200px;
  font-size: 30pt;
  font-weight: bolder;
  text-shadow: 3px 3px 4px black !important;
  border-radius: 9px;
  border-width: 3pt !important;
}

.MuiSvgIcon-root {
  align-self: center;
}

.habit-title {
  text-align: center;
  width: 100%;
  text-decoration: underline;
}
.habit-tracker-card {
  margin-top: 12px !important;
  width: 709px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

.day-of-week-letter {
  text-align: center;
  display: flex;
  flex-direction: row;
  column-gap: 39px;
  margin-left: 259px !important;
}

.card-content {
  width: 100%;
}

.habit-name {
  width: 240px;
}

.days-of-week {
  display: flex;
  flex-direction: row;
}

.MuiCheckbox-root {
  padding: 6px !important;
  margin-left: 5px !important;
}

.medication-banner {
  font-size: 42pt !important;
  font-weight: bolder !important;
  color: #00f3fc;
  font-style: italic;
  text-align: center !important;
  text-shadow: 4px 4px 4px black !important;
}
